body {
    background-image: url(files/background.jpg);
}

.footer {
    height: 50px;
    background-color: #8e8e8e;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 12px 4px  rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 5px;
    flex-direction: row;
}

#ToDoList {
    display: inline-block;
    width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(98, 98, 98, 0.9);
    border: 5px solid #212121;
    border-radius: 10px;
}

#newToDO {
    display: inline-block;
    width: 300ox;
    margin: 10px;
    padding: 10px;
    background-color: rgba(98, 98, 98, 0.9);
    border: 5px solid #212121;
    border-radius: 10px;
}

.author {
    display: inline-block;
    color: #2f2f2f;
    margin: 5px;
}

.actualTime {
    display: inline-block;
    color: #2f2f2f;
    margin: 5px;
}